
.carta{
background-color: turquoise;
    width: 17rem;
    height: 22.9rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    border: groove;
    border-block-width: 1rem;
    border-color: chartreuse;
    border-radius: 0.6rem;
}

.texto{
    color: crimson;
    font-family: fantasy;
    margin: .1rem;
}

.nombre{
    /* position: absolute; */
    color:red;
    margin: 0rem;
    font-family: fantasy;
}

.boton{
    background-color: darkred;
    position: absolute;
    float: right;
    margin-left: 15.5rem;
    margin-bottom: 21.7rem;
}