.contain{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSmCRVixZ8_ELMlJmX-AyncMsH-XTZoMspFQ&usqp=CAU");
 
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 5rem;
}

.boton{
    background-color: chartreuse;
    /* border-radius: 3rem; */
    float: left;
    font-family: fantasy;
    color: black;
    width: 5.7rem;
    height: 2rem;
    font-size: 1.3rem;
}
.link{
    text-decoration: none;
}

.boton:hover{
    background-color:darkcyan;
    cursor: pointer;
    

}

.nombre{
    /* position: absolute; */
    background-color:black;
    font-family: 'Courier New', Courier, monospace;
    color: chartreuse;
    font-size: 3rem;
}

.lista{
    background-color: black;
    font-size: 1.5rem;
    text-align: left;
    color: chartreuse;
    font-family: 'Courier New', Courier, monospace;
    width: 50rem;
    margin-left: 160px;
}